<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/default">



<div class="content" layout:fragment="content">
<script type="text/javascript">

</script>
  <!-- Native SVG icon, also used by custom 'icon' demo -->

	<div class="content_box">
	
		<div id="side_box" class="side_box">
		<div id="search_box">
			<div class="inp_box">
			<input type="text">
			</div>
			<div class="bt_box">
				<button>검색</button>
			</div>
		</div>
		<div class="treeview" id="tree">
		
		</div>
		
	
		</div>
		
		<div class="content_views" id="content_views">
		
	
		</div>
		
	
</div>

<div id="requestModal">

</div>
</div>
</html>