<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">

 <nav class="header_nav">
 	<a href="/" class="logo">
 		<span>D M S</span>
 	</a>
 	<div class="menus">
 	<ul class="A_menu">
 		<a href="dashBoard"><li>DASH BOARD</li></a>
 		<a href="request"><li>요청</li></a>
 		<a href="settings"><li>셋팅</li></a>
 		<a href="users"><li>유저</li></a>
 	</ul>
 	</div>
 	
 	<ul class="user_menu">
 		<li class="login_bt img_bt"></li>
 		<li class="info_bt img_bt"></li>

 	</ul>
 </nav>


</header>

</html>